<template>
    <div class="columns-3">
        <!-- Airplane image and parallax -->
        <section class="bg-red-400 h-screen pt-4">
            <h2 class="text-center text-5xl font-bold">${{AirplaneStore.money}}</h2>

            <div class="hover:cursor-pointer" @click="incrementMoney">
                <img src="/img/airplane.png" alt="Airplane" />
                <p class="text-center"><small>[click me]</small></p>
            </div>
        </section>

        <!-- Worker display -->
        <section class="bg-gray-400 h-screen">
            <h1>Worker display</h1>
        </section>

        <!-- Purchase section -->
        <section class="bg-green-400 h-screen">
            <h1>Buy stuff in this section</h1>
        </section>
    </div>
</template>

<script setup>
    import {useAirplaneStore} from "../stores/AirplaneStore";

    const AirplaneStore = useAirplaneStore();

    function incrementMoney() {
        AirplaneStore.increment();
    }
</script>

<style scoped>
</style>